header {
  background-color: white;
  height: 75px;
  width: 100%;
  box-shadow: 5px 7px 10px gray;
  margin-bottom: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
  
.header {
  margin: 0px 20px;
  height: 30px;
}

.logo{
  color: orangered;
  font-family: sans-serif;
  flex-grow: 0;
}

span {
  color: black;
  font-family: sans;
}

.button {
  flex-grow: 0;
}

.search {
  border-radius: 25px;
  text-indent: 10px;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-grow: 1;
}

@media only screen and (max-width: 650px){
  header{
    display: inline-block;
    text-align: center;
    height: 100px;
  }
}
