header {
  background-color: white;
  height: 150px;
  width: 100%;
  box-shadow: 5px 7px 10px gray;
  margin-bottom: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}
  
.header {
  margin: 0px 20px;
}

.logo{
  color: orangered;
  font-family: sans-serif;
  font-size: 45px;
}

.logo:hover{
  cursor:pointer;
}

span {
  color: black;
  font-family: sans;
}

.button {
  flex-grow: 0;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  background: orangered;
}

.search {
  border-radius: 25px;
  text-indent: 10px;
  height: 50px;
  font-size: 20px;
  flex-grow: 1;
}

.form {
  display: flex;
  flex-grow: 1;
}

.formSubmit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  background: orangered;
}

@media only screen and (max-width: 865px){
  .logo {
    text-align: center;
    font-size: 20px;
    width: 100%;
    margin: 0;
  }
  .button {
    display: none;
  }
  .header {
    margin: 0 auto;
  }
  .search {
    width: 85%;
    font-size: 15px;
  }
  .form {
    display: block;
    text-align: center;
  }
  .formSubmit{
    margin: 10px auto 0px auto;
  }
}