.container {
    min-width: 100%;
    height: auto;

    background-color: whitesmoke;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    flex-grow: 2;
    flex-direction:column;
}

.contentContainer{
    display: grid;
    grid-template-rows: 20px auto auto auto auto auto auto;
    background-color: white;
    box-shadow: 5px 7px 10px gray;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
    margin: 10px;
}

.image {
    width: 100%;
    max-height: 500px;
    margin: auto;
}
.video {
    width: 100%;
    max-height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 20px;
}

.header{
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 10px;
}

.markdown {
    width: 90%;
    text-wrap: wrap;
    padding: 20px;
}

.link {
    text-decoration: none;
    color: black;
}