.container{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 20px 50px 0px 0px;
    box-shadow: 5px 7px 10px gray;
    border: 1px solid black;
    border-radius: 5px;
}
  
.box{
    position: sticky;
    top:0px;
    width: 250px;
    height: auto;
    border: 2px dotted green;
}
  
.filler{
    flex: 1;
    background-color: lightblue;
    width: auto;
    height: auto;
}

.topic {
    border-bottom: 1px dotted lightgray;
    padding: 10px 0px 0px 0px;
}