.container{
    min-width: 250px;
    height: 900px;

    position: sticky;
    top: 0px;
    border: 1px solid black;
    background-color: white;
    margin: 100px 20px 0px 20px;
    box-shadow: 5px 7px 10px gray;
    border-radius: 5px;
    flex-shrink: 2;
}

.title{
    margin: 15px;
    font-size: 15px;

}

.subredditList {
    max-height: 2800px;
}

.subredditTile {
    display: grid;
    grid-template-rows: 30px 20px;
    grid-template-columns: 40px 100px;
}

.subredditTile:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.link{
    color: black;
    text-decoration: none;
}

.subredditName {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.subredditSubscribers {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    font-size: 10px;
}

.subredditIcon {
    width: 30px;
    height: 30px;
    grid-column: 1 / 2;
    clip-path: circle();
    margin: 0 auto;
}